# This file is part of the simple-website-project-php package.

# Copyright (c) Mathieu BESSOU

# MIT License

# For the license information, view the LICENSE file distributed with this source code.
	
	

	
# URL_REWRITING
# Options +FollowSymlinks
RewriteEngine on
# Pour que ça fonctione chez certains hébergeurs..
# RewriteBase /


### Pour la redirection de www.domaine.ext vers domaine.ext
# Rediriger www.domaine.ext vers domaine.ext
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^www\..+$ [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Si l'URL commence par /backend, redirige vers le Backend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^backend/(.*)$ index.php?app=Backend&view=$1 [QSA,L]
# Si l'URL ne commence pas par /backend, on redirige vers le Frontend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule (.*) index.php?app=Frontend&view=$1 [QSA,L]

# FIN -- URL_REWRITING

# Désactiver l'indéxation des fichiers
Options -Indexes